.loginBlockSection {
  background-color: var(--bg-purple-10-80);
  padding: 140px 0;
  width: 100%;
}

.topLoginContainer {
  margin-bottom: 48px;
}

.title {
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.introText {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
}

.columnsContainer {
  display: flex;
  gap: 47px;
}

.columnTitle {
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.columnText {
  font-size: 20px;
  line-height: 40px;
  width: 536px;
  height: 360px;
}
