.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topStrip {
  width: 100%;
  height: 140px;
  background-color: var(--bg-purple-10-80);
}

.footerBottom {
  background-color: var(--bg-purple-10-20);
  padding: 24px 0;
}

.logoSection {
  cursor: pointer;
  position: absolute;
  left: 0;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.firstRow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.firstBlockRow {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.iconsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.copyrightText {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: var(--color-white);
  opacity: 0.6;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.copyrightText:hover {
  opacity: 1;
}

.ageRestriction {
  font-size: 32px;
  padding-right: 16px;
  vertical-align: middle;
}

.iconGroup {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.iconImage {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  cursor: pointer;
}

.iconImage:hover {
  filter: grayscale(0%);
}
