.button {
  font-family: var(--font-paytone-one), sans-serif;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  text-transform: uppercase;
}

.button:hover {
  transform: scale(1.05);
  transition: transform 0.6s;
}

.button.yellow {
  background-color: var(--bg-button-yellow);
  color: var(--color-black);
}

.button.blue {
  background-color: var(--bg-button-blue);
}

.button.none {
  background: none;
}

.button.capitalize {
  text-transform: capitalize;
}
