.button {
  font-family: var(--font-paytone-one), sans-serif;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-transform: uppercase;
}

.button:hover {
  transform: scale(1.05);
  transition:
    transform 0.2s,
    color 0.2s;
}

.button.yellow {
  background-color: var(--bg-button-yellow);
  color: #000000;
}

.button.blue {
  background-color: var(--bg-button-blue);
}

.button.capitalize {
  text-transform: capitalize;
}
