.page {
  height: 100vh;
  background-color: var(--bg-purple-10-80);
  display: flex;
  flex-direction: column;
}

.loaderWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
