.welcomeScreenSection {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-purple-10-90);
}

.welcomeScreenContainer {
  display: flex;
  align-items: center;
  justify-content: space-a;
  padding: 21px 0;
}

.leftContainer {
  width: 500px;
}

.rightContainer {
  width: 554px;
  height: 498px;
  background: url('/images/welcome-screen-image.png') center/cover no-repeat;
}

.welcomeBonus {
  font-size: 32px;
  line-height: 45px;
  text-transform: uppercase;
}

.claimButton {
  font-size: 28px;
  margin-top: 28px;
  padding: 24px 48px;
  border-radius: 6px;
  line-height: 39px;
  width: 340px;
  height: 82px;
}

.heroImage {
  display: block;
}

.bottomBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
  background: var(--bg-purple-10-80);
}

.mainTitle {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.mainTitleContainer {
  background-color: var(--bg-purple-10-90);
  padding: 33px 60px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 70px;
}
