.topCasinosSection {
  background-color: var(--bg-purple-10-80);
  width: 100%;
}

.topCasinosTitle {
  font-size: 56px;
  text-transform: uppercase;
}

.topCasinosGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  row-gap: 24px;
  column-gap: 26px;
  margin-top: 48px;
}

.allCasinoButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.allCasinoButton {
  font-size: 28px;
  padding: 24px 48px;
  border-radius: 6px;
  line-height: 39px;
  width: 340px;
  height: 82px;
  margin-bottom: 140px;
}

.allCasinoButtonHidden {
  display: none;
}

@media (max-width: 1200px) {
  .topCasinosSection {
    padding: 24px 40px;
  }

  .topCasinosGridContainer {
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
    row-gap: 16px;
    column-gap: 16px;
    margin-top: 40px;
  }
}

@media (max-width: 840px) {
  .topCasinosGridContainer {
    grid-template-columns: repeat(2, 260px);
  }
}

@media (max-width: 600px) {
  .topCasinosGridContainer {
    grid-template-columns: repeat(2, 240px);
  }

  .topCasinosTitle {
    font-size: 32px;
    max-width: 300px;
  }

  .allCasinoButtonContainer {
    margin-top: 40px;
  }

  .allCasinoButton {
    font-size: 24px;
    width: 280px;
    height: 77px;
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .topCasinosGridContainer {
    grid-template-columns: repeat(1, 240px);
  }
}

