.bonusDetailsSection {
  background: var(--bg-purple-10-80);
  width: 100%;
}

.title {
  font-size: 56px;
  margin-bottom: 48px;
}

.tableContainer {
  width: 100%;
}

.tableHeader {
  display: grid;
  grid-template-columns: 206px 240px 140px 140px 140px 254px;
  background-color: var(--bg-purple-10-20);
  border-radius: 8px;
  margin-bottom: 24px;
  height: 88px;
  column-gap: 0;
}

.headerCell {
  position: relative;
  font-size: 24px;
  padding: 0 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
}

.headerCell:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 10px;
  bottom: 10px;
  width: 1px;
  background-color: var(--border-color);
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.refreshButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.refreshButton {
  font-size: 28px;
  width: 340px;
  height: 82px;
  padding: 24px 48px;
  border-radius: 6px;
  margin-bottom: 140px;
}

@media (max-width: 576px) {
  .tableHeader {
    grid-template-columns: 160px 100px 100px 88px;
    height: 58px;
  }

  .headerCell {
    font-size: 20px;
    height: 58px;
  }

  .headerCell:not(:last-child)::after {
    top: 8px;
    bottom: 8px;
  }

  .bonusColumn,
  .getColumn {
    display: none;
  }
}