.zen8Section {
  background-color: var(--bg-purple-10-20);
  padding: 64px 0;
  width: 100%;
}

.topSection {
  display: flex;
  gap: 48px;
  margin-bottom: 48px;
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
  margin-bottom: 24px;
  max-width: 548px;
}

.description {
  font-size: 20px;
  line-height: 40px;
  width: 548px;
}

.downloadButtons {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.downloadButton {
  display: inline-block;
}

.rightContent {
  display: flex;
  flex: 1;
  position: relative;
  overflow: visible;;
}

.mobileImage {
  position: absolute;
  right: -55px;
  top: 95px;
  height: auto;
}

.bottomSection {
  display: flex;
  gap: 47px;
}

.bottomColumn {
  flex: 1;
}

.columnTitle {
  font-size: 40px;
  line-height: 100%;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.columnText {
  font-size: 20px;
  line-height: 40px;
  width: 548px;
}
