.advantagesSection {
  background-color: var(--bg-purple-10-20);
  padding: 64px 0;
  width: 100%;
}

.title {
  font-size: 56px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.introText {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 48px;
}

.columnsContainer {
  display: flex;
  gap: 47px;
}

.columnTitle {
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.list {
  font-size: 20px;
  line-height: 40px;
  list-style-type: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
}
