:root {
  --font-paytone-one: initial;
  --font-roboto: initial;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #445161;

  /* Background-colors */
  --bg-purple-10-20: #080d15;
  --bg-purple-10-90: #233e60;
  --bg-purple-10-80: #15263a;
  --bg-button-yellow: #fdff00;
  --bg-button-blue: #0076ff;
}
