@import '../shared/styles/variables.css';

:root {
  --page-max-width: 1120px;
  --font-roboto: inherit;
  --font-paytone-one:inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /*width: 100%;*/
}

body {
  font-family: var(--font-roboto, 'Roboto'), system-ui, sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
  /*width: 100%;*/
  /*min-width: 0;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-paytone-one, 'Paytone One'), system-ui, sans-serif;
  font-weight: 400;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

