.supportSection {
  background-color: var(--bg-purple-10-80);
  padding: 140px 0;
}

.contentContainer {
  display: flex;
  gap: 47px;
  align-items: flex-start;
}

.title {
  font-size: 56px;
  line-height: 78px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.description {
  font-size: 20px;
  line-height: 40px;
  width: 697px;
}

.rightContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}