.labelsContainer {
  display: flex;
  flex-direction: column;
}

.valuesContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.detailRow {
  display: flex;
  position: relative;
  font-size: 20px;
  line-height: 40px;
  padding: 8px 16px;
  border-bottom: 1px solid var(--border-color);
}

.detailRow::after {
  content: '';
  position: absolute;
  right: 0;
  top: 12px;
  bottom: 12px;
  width: 1px;
  background-color: var(--border-color);
}

.detailValue {
  padding-left: 6px;
}

.valuesContainer .detailRow::after {
  display: none;
}

.detailRow.empty .detailValue::before {
  content: '—';
}
