.labelsContainer {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
}

.valuesContainer {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.detailRow {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid var(--color-gray);
}
