.cardItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  gap: 16px;
  border-radius: 8px;
  background-color: var(--bg-purple-10-90);
  max-width: 260px;
  max-height: 353px;
}

.cardItemName {
  font-family: var(--font-roboto, 'Roboto'), sans-serif;
  font-size: 20px;
  text-align: center;
}

.cardItemLabel {
  font-size: 24px;
  color: var(--bg-button-yellow);
  text-transform: capitalize;
}

.cardItemBonus {
  font-size: 20px;
  text-align: center;
  min-height: 46px;
}

.cardItemButton {
  font-size: 20px;
  padding: 12px 32px;
  width: 201px;
  height: 52px;
}

@media (max-width: 600px) {
  .cardItemContainer {
    max-width: 240px;
    max-height: 264px;
    padding: 16px 20px;
  }

  .cardImage {
    width: 160px;
    height: 64px;
  }

  .cardItemName {
    display: none;
  }

  .cardItemBonus {
    font-size: 16px;
    min-height: 38px;
  }

  .cardItemButton {
    font-size: 18px;
    width: 200px;
    height: 54px;
  }
}