.cardItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  gap: 16px;
  border-radius: 8px;
  background-color: var(--bg-purple-10-90);
  max-width: 260px;
}

.cardItemName {
  font-family: var(--font-roboto), system-ui, sans-serif;
  font-size: 20px;
  text-align: center;
}

.cardItemLabel {
  font-size: 24px;
  color: var(--bg-button-yellow);
  text-transform: capitalize;
}

.cardItemBonus {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.cardItemButton {
  font-size: 20px;
  width: 210px;
  height: 52px;
}
